#UI {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    // border: 3px solid red;

    pointer-events: none;

    .ui-wrapper {

        position: absolute;
        top: 10px;
        right: 10px;

        display: flex;
        flex-flow: column;
        gap: 10px;

        .heuristics {
            padding: 30px;

            display: flex;
            flex-flow: column;
            gap: 5px;

            background-color: rgba(128, 128, 128, 0.7);
            color: white;
            box-shadow: 2px 2px 1px 1px rgba(128, 128, 128, 0.473);

            pointer-events: all;

            ul {
                list-style: none;

                li {
                    padding: 2px 0px;

                    label {
                        padding-left: 5px;
                    }
                }
            }
        }

        .find-path, .clear-walls {
            // position: absolute;
            // top: 10px;
            // right: 10px;
    
            color: white;
            background-color: rgb(97, 155, 194);
            padding: 15px 10px;
            border: none;
            outline: none;
    
            box-shadow: 2px 2px 1px 1px rgba(128, 128, 128, 0.473);
    
            pointer-events: all;
        }
    }
}